.theme-dark .panel_bf1a22 {
	background-color: transparent;
}

.theme-dark #vc-spotify-player {
	background-color: transparent;
}

.panels_a4d4d9 {
	background-color: transparent;
}

.container_adcaac {
	background-color: transparent;
}

.theme-dark .container_b2ca13 {
	background-color: transparent;
}

.button_adcaac.buttonColor_adcaac {
	background-color: transparent;
}
