.theme-dark .panel_bf1a22 {
	background-color: transparent;
}

.theme-dark #vc-spotify-player {
	background-color: transparent;
}

.panels_a4d4d9 {
	background-color: transparent;
}

.container_adcaac {
	background-color: transparent;
}

.theme-dark .container_b2ca13 {
	background-color: transparent;
}

.button_adcaac.buttonColor_adcaac {
	background-color: transparent;
}

/* color of bar in friends menu */
#app-mount > div.appAsidePanelWrapper_bd26cc > div.notAppAsidePanel_bd26cc > div.app_bd26cc > div > div.layers_d4b6c5.layers_a01fb1 > div > div > div > div > main > section {
	background-color: transparent;
}

.typeWindows_a934d8 {
    background: rgba(24, 24, 24, 0.5);
}
