:root {
  --image: url('https://github.com/TrippleAWap/discord-styles/blob/main/hearts.gif?raw=true');
  --image-opacity: 0.1;
}

body > div[class="drag-previewer"] {
	visibility: visible !important;
	background:  var(--image);
	height: 100vh;
	width: 100vw;
	opacity: var(--image-opacity);
	z-index: 9999999999999999;
	background-size: cover, auto, cover;
	background-position: center, center, center;
	pointer-events: none;
}
